@media (min-width: 900px) {
  .container {
    width: 100%;
    align-items: center;
    padding: 5px 5px;
    height: auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 33% 33% 33%;
  }
}
@media (min-width: 1200px) {
  .container {
    grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
  }
}
@media (min-width: 1500px) {
  .container {
    grid-template-columns: 19.5% 19.5% 19.5% 19.5% 19.5%;
  }
}

@media (min-width: 1800px) {
  .container {
    grid-template-columns: 16.3% 16.3% 16.3% 16.3% 16.3% 16.3%;
  }
}

@media (max-width: 899px) {
  .container {
    width: 100%;
    height: auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 49.8% 49.8%;
  }
}
