/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;


  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.image {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image ul {
  padding: 0 0;
  margin: 0 0;
}

.image li {
  list-style: none;
}

.image h2 {
  position: absolute;
  text-align: center;
  top: 17%;
  z-index: 100;
  color: #d1cecf;
}

.btn {
  position: absolute;
  top: 12.8%;
  border: none;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 500px) {
  .btn {
    top: 12.4%;
  }

  .image h2 {
    top: 17%;
    font-size: 10px;
  }
}
