.container {
  max-width: auto;
  max-height: auto;

  display: grid;
  grid-template-columns: auto auto auto;
}

.vertical-row {
  margin: auto auto;
  float: left;
  height: 50%;
  width: 3px;
  background-color: rgb(129, 128, 131);
  
}
