.container {
  background-color: #eeeeee;
  max-width: 400px;
  margin-top: 1rem;
  padding: 1rem;
  position: sticky;
}

.split {
  float: right;
  margin-right: 10px;
}

.marginleft {
  margin-left: 10px;
}

.button {
  color: rgb(26, 19, 19);
  border: 2px solid rgb(245, 112, 2);
  border-radius: 20px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #ff5f00;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  width: 80%;
  margin-top: 20px;
  margin-left: 38px;
}

.button:hover {
  box-shadow: inset 0 0 0 50px #ff5f00;
}
